In [56]:
import pandas as pd
import numpy as np
import warnings
from pprint import *
import random

In [58]:
act_if = pd.read_csv("active_info.csv") #액티브 기업개요 
cls_if = pd.read_csv("close_info.csv") #휴폐업 기업개요
corp_fin = pd.read_csv("corp_fin_01.csv") #재무데이터

In [59]:
#중복 체크 함수
def dup_check(list1, list2):
    dup = set(list1) & set(list2)
    return dup

In [60]:
ck2 = dup_check(corp_fin["사업자번호"].values, act_if["BIZ_NO"].values)
len(ck2)

28978

In [61]:
ck3 = dup_check(corp_fin["사업자번호"].values, cls_if["BIZ_NO"].values) #망한애들
len(ck3)

6731

In [62]:
corp_fin

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,법인세비용차감전순손익,법인세비용,유보액/총자산(%),유보액/납입자본(%),수지비율(%),순운전자본비율(%),미수금,매출원가,무형자산,재고자산
0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,3144847.0,635665.0,4.877,236.820,66.562,6.411,NaN,NaN,NaN,NaN
1,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,3446082.0,712661.0,4.300,215.900,62.600,-23.100,NaN,NaN,NaN,NaN
2,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,...,4180173.0,773416.0,5.121,288.321,58.602,3.471,NaN,NaN,NaN,NaN
3,1018100340,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,...,4731471.0,907999.0,7.878,418.549,55.228,-21.715,3243.0,NaN,NaN,NaN
4,1018100772,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,...,20159.0,NaN,-32.209,-12878.763,98.361,-10.883,386880.0,524746.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109137,8998800427,20211231,9192992.0,2918329.0,9735232.0,9409374.0,18928223.0,11017981.0,6619380.0,17637362.0,...,-2254908.0,NaN,4.102,150.896,108.783,-9.642,331735.0,23370771.0,75451.0,3680509.0
109138,8998800785,20181231,3608435.0,NaN,271541001.0,271541001.0,275149436.0,164335821.0,76480438.0,240816259.0,...,-2592341.0,NaN,-1.205,-8.775,12726.477,-58.415,NaN,NaN,NaN,NaN
109139,8998800785,20191231,475283.0,NaN,309796969.0,309796969.0,310272251.0,3722434.0,274776917.0,278499351.0,...,-2560277.0,NaN,-1.894,-15.552,188910.988,-1.047,NaN,NaN,NaN,NaN
109140,8998800785,20201231,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,...,-1554414.0,NaN,-2.021,-19.666,1351765.217,-0.032,NaN,NaN,NaN,NaN
109141,8998800785,20211231,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,...,-13230281.0,NaN,-4.861,-54.685,1303.276,-65.839,NaN,NaN,NaN,NaN

In [63]:
for i in range(len(corp_fin)):
    if corp_fin["사업자번호"].values[i] in ck3:
        corp_fin.loc[i,"휴폐업유무"] = 1 #망함
    else: 
        corp_fin.loc[i,"휴폐업유무"] = 0 #안망함

In [65]:
# 사업자번호 변환 코드
tf_mapping = corp_fin.duplicated(["사업자번호"])

for i in range(len(tf_mapping)):
    if tf_mapping[i] == False :
        num = 1
        corp_fin["사업자번호"][i] = str(corp_fin["사업자번호"][i]) + "_" + str(num)
        num = num + 1
    else :
        corp_fin["사업자번호"][i] = str(corp_fin["사업자번호"][i]) + "_" + str(num)
        num = num + 1

C:\Users\User\AppData\Local\Temp\ipykernel_7532\2099297141.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corp_fin["사업자번호"][i] = str(corp_fin["사업자번호"][i]) + "_" + str(num)

In [66]:
corp_fin

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,법인세비용,유보액/총자산(%),유보액/납입자본(%),수지비율(%),순운전자본비율(%),미수금,매출원가,무형자산,재고자산,휴폐업유무
0,1018100340_1,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,635665.0,4.877,236.820,66.562,6.411,NaN,NaN,NaN,NaN,0.0
1,1018100340_2,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,712661.0,4.300,215.900,62.600,-23.100,NaN,NaN,NaN,NaN,0.0
2,1018100340_3,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,...,773416.0,5.121,288.321,58.602,3.471,NaN,NaN,NaN,NaN,0.0
3,1018100340_4,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,...,907999.0,7.878,418.549,55.228,-21.715,3243.0,NaN,NaN,NaN,0.0
4,1018100772_1,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,...,NaN,-32.209,-12878.763,98.361,-10.883,386880.0,524746.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109137,8998800427_4,20211231,9192992.0,2918329.0,9735232.0,9409374.0,18928223.0,11017981.0,6619380.0,17637362.0,...,NaN,4.102,150.896,108.783,-9.642,331735.0,23370771.0,75451.0,3680509.0,0.0
109138,8998800785_1,20181231,3608435.0,NaN,271541001.0,271541001.0,275149436.0,164335821.0,76480438.0,240816259.0,...,NaN,-1.205,-8.775,12726.477,-58.415,NaN,NaN,NaN,NaN,0.0
109139,8998800785_2,20191231,475283.0,NaN,309796969.0,309796969.0,310272251.0,3722434.0,274776917.0,278499351.0,...,NaN,-1.894,-15.552,188910.988,-1.047,NaN,NaN,NaN,NaN,0.0
109140,8998800785_3,20201231,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,...,NaN,-2.021,-19.666,1351765.217,-0.032,NaN,NaN,NaN,NaN,0.0
109141,8998800785_4,20211231,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,...,NaN,-4.861,-54.685,1303.276,-65.839,NaN,NaN,NaN,NaN,0.0

In [67]:
#인덱스를 사업자 번호로 변환
corp_fin.index = corp_fin["사업자번호"].values
corp_df = corp_fin
corp_df=corp_df.iloc[:,1:]

In [68]:
corp_df

,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,자본금,...,법인세비용,유보액/총자산(%),유보액/납입자본(%),수지비율(%),순운전자본비율(%),미수금,매출원가,무형자산,재고자산,휴폐업유무
1018100340_1,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,721100.0,...,635665.0,4.877,236.820,66.562,6.411,NaN,NaN,NaN,NaN,0.0
1018100340_2,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,721100.0,...,712661.0,4.300,215.900,62.600,-23.100,NaN,NaN,NaN,NaN,0.0
1018100340_3,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,721100.0,...,773416.0,5.121,288.321,58.602,3.471,NaN,NaN,NaN,NaN,0.0
1018100340_4,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,721100.0,...,907999.0,7.878,418.549,55.228,-21.715,3243.0,NaN,NaN,NaN,0.0
1018100772_1,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,52000.0,...,NaN,-32.209,-12878.763,98.361,-10.883,386880.0,524746.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998800427_4,20211231,9192992.0,2918329.0,9735232.0,9409374.0,18928223.0,11017981.0,6619380.0,17637362.0,514500.0,...,NaN,4.102,150.896,108.783,-9.642,331735.0,23370771.0,75451.0,3680509.0,0.0
8998800785_1,20181231,3608435.0,NaN,271541001.0,271541001.0,275149436.0,164335821.0,76480438.0,240816259.0,37780000.0,...,NaN,-1.205,-8.775,12726.477,-58.415,NaN,NaN,NaN,NaN,0.0
8998800785_2,20191231,475283.0,NaN,309796969.0,309796969.0,310272251.0,3722434.0,274776917.0,278499351.0,37780000.0,...,NaN,-1.894,-15.552,188910.988,-1.047,NaN,NaN,NaN,NaN,0.0
8998800785_3,20201231,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,37780000.0,...,NaN,-2.021,-19.666,1351765.217,-0.032,NaN,NaN,NaN,NaN,0.0
8998800785_4,20211231,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,37780000.0,...,NaN,-4.861,-54.685,1303.276,-65.839,NaN,NaN,NaN,NaN,0.0

In [69]:
corp_df.columns

Index(['결산년월', '유동자산', '매출채권', '비유동자산', '유형자산', '자산총계', '유동부채', '비유동부채',
       '부  채  총  계', '자본금', '이익잉여금(결손금）', '자본총계', '매출액', '판매비와관리비', '영업이익（손실）',
       '법인세비용차감전순손익', '법인세비용', '유보액/총자산(%)', '유보액/납입자본(%)', '수지비율(%)',
       '순운전자본비율(%)', '미수금', '매출원가', '무형자산', '재고자산', '휴폐업유무'],
      dtype='object')

In [74]:
corp_df = corp_df.drop(["결산년월"],axis=1)

In [75]:
corp_df

,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,자본금,이익잉여금(결손금）,...,법인세비용,유보액/총자산(%),유보액/납입자본(%),수지비율(%),순운전자본비율(%),미수금,매출원가,무형자산,재고자산,휴폐업유무
1018100340_1,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,721100.0,3859072.0,...,635665.0,4.877,236.820,66.562,6.411,NaN,NaN,NaN,NaN,0.0
1018100340_2,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,721100.0,3708092.0,...,712661.0,4.300,215.900,62.600,-23.100,NaN,NaN,NaN,NaN,0.0
1018100340_3,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,721100.0,4230449.0,...,773416.0,5.121,288.321,58.602,3.471,NaN,NaN,NaN,NaN,0.0
1018100340_4,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,721100.0,5169522.0,...,907999.0,7.878,418.549,55.228,-21.715,3243.0,NaN,NaN,NaN,0.0
1018100772_1,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,52000.0,-7410129.0,...,NaN,-32.209,-12878.763,98.361,-10.883,386880.0,524746.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998800427_4,9192992.0,2918329.0,9735232.0,9409374.0,18928223.0,11017981.0,6619380.0,17637362.0,514500.0,-1183183.0,...,NaN,4.102,150.896,108.783,-9.642,331735.0,23370771.0,75451.0,3680509.0,0.0
8998800785_1,3608435.0,NaN,271541001.0,271541001.0,275149436.0,164335821.0,76480438.0,240816259.0,37780000.0,-3315168.0,...,NaN,-1.205,-8.775,12726.477,-58.415,NaN,NaN,NaN,NaN,0.0
8998800785_2,475283.0,NaN,309796969.0,309796969.0,310272251.0,3722434.0,274776917.0,278499351.0,37780000.0,-5875445.0,...,NaN,-1.894,-15.552,188910.988,-1.047,NaN,NaN,NaN,NaN,0.0
8998800785_3,1474607.0,NaN,366181956.0,366181956.0,367656563.0,1593683.0,335844394.0,337438077.0,37780000.0,-7429859.0,...,NaN,-2.021,-19.666,1351765.217,-0.032,NaN,NaN,NaN,NaN,0.0
8998800785_4,2540577.0,1201346.0,422469161.0,420110684.0,425009738.0,282361726.0,125659808.0,408021534.0,37780000.0,-20660140.0,...,NaN,-4.861,-54.685,1303.276,-65.839,NaN,NaN,NaN,NaN,0.0

In [76]:
def jaccard_similarity(s1, s2):
  # 분모가 0이면 계산할 수 없기 때문에 s1s2 합집합의 크기가 0인 경우 return 0
    if len(s1|s2) == 0:
        return 0
  # 아닌 경우 교집합/합집합 반환
    return len(s1&s2)/len(s1|s2)
    
def pearson_similarity(u1, u2):
    with warnings.catch_warnings():
        warnings.simplefilter("ignore", category=RuntimeWarning)
      # Centered 방식 : 각 벡터에서 NaN이 아닌 값들을 평균낸 값을 빼준다.
        
        u1_mean = np.nanmean(u1)
        u2_mean = np.nanmean(u2)

        if u1_mean == 100 :
            u1_c = u1
        else :
            u1_c = u1 - u1_mean

        if u2_mean == 100 :
            u2_c = u2
        else :
            u2_c = u2 - u2_mean


      # 여기서부턴 Cosine 유사도 구하기
        denom = np.sqrt(np.nansum(u1_c ** 2) * np.nansum(u2_c ** 2))

        if denom != 0:
            return np.nansum(u1_c * u2_c)/denom
        else:
            return 0

In [77]:
# corp : 찾으려고 하는 corp
# n : 가장 비슷한 corp를 몇 개 출력할 것인지
# alpha : 유사도 반영 비율

def find_similar_corp (df, corp , alpha):
    
    s1 = set(df.loc[corp,df.loc[corp,:].notnull()].index.values)
    u1 = df.loc[corp,:].values
    
    result = []
    
    col = df.index.values

    for this_corp in col :
        if this_corp[:-2] == corp[:-2] :#같은 회사면 건너뛰기
            continue
        
        s2 = set(df.loc[this_corp,df.loc[this_corp,:].notnull()].index.values)
        u2 = df.loc[this_corp,:].values
        
    
        jaccard = jaccard_similarity(s1, s2) #교집합/합집합
        pearson = pearson_similarity(u1, u2) #벡터 계산
    
    
        score = alpha * pearson + ( 1-alpha) * jaccard
        result.append( (this_corp, round(score,5)))
        
    result.sort(key= lambda r: r[1], reverse= True)
    result_df = pd.DataFrame(result, columns=["corp","score"])
    join_sim_corp_df = pd.merge(result_df.iloc[:100,:], corp_fin[["사업자번호","휴폐업유무"]], how="left", left_on="corp", right_on="사업자번호")
    sum_result=join_sim_corp_df["휴폐업유무"].sum()    

    return join_sim_corp_df, sum_result

In [78]:
test_df, sum_rlt = find_similar_corp(corp_df,'1018100340_1', 0.7) #44초

In [80]:
sum_rlt

5.0